.main>section {
  width: $stdWidth;
  margin: 0 auto 8rem;
}

.hero {
  >a,
  .about-me {
    flex: 1;
  }
  >a {
    height: 29rem;

    .slideshow {
      height: 100%;
    }
  }
  div {
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social {
  margin-top: 2rem;

  >a {
    color: $lightGrey;
    background: $btnBg;
    text-decoration: none;
    display: block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2.4rem;
    margin-right: 0.6rem;
    font-size: 1rem;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: $blue;
    }

    &:last-child {
      margin-right: 0;
    }

    &.socicon-instagram,
    &.socicon-github,
    &.socicon-facebook,
    &.socicon-twitter {
      line-height: 2.5rem;
    }
  }
}

.giphy {
  max-width: 90%;
  overflow: hidden;
}

.project {
  margin-bottom: 8rem;

  .body {
    width: 40%;
  }

  .slideshow {
    width: 60%;
  }

  .columns>.vid {
    width: 60%;
    margin: 0 1rem;
    box-sizing: border-box;
    box-shadow: 0 20px 20px $medGrey;
  }

  &:nth-child(odd) {
    .columns {
      flex-direction: row-reverse;
    }
  }
}

.more-projects {
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
}

amp-accordion {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 20px $medGrey;
  width: 50%;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: $white;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;

  h2 {
    background-color: transparent;
    color: $blue;
    transition: color 300ms ease-in-out;
    border: none;

    &:hover {
      color: $lightBlue;
    }
  }

  &.small {
    width: 20rem;
  }

  &:last-child { // whitespace issue fix
    position: relative;

    &:after {
      content: ' ';
      display: block;
      width: 1rem;
      height: 100%;
      position: absolute;
      right: -1rem;
      top: 0;
    }
  }

  h2 {
    font-size: 1.4rem;
    margin: 0.3rem 0 1rem;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .columns {
    >div {
      width: 50%;
    }
  }

  .slideshow {
    height: 300px;

    &.tall {
      height: 350px;

      .image {
        top: 43%;
        width: auto;
      }
    }

    .image {
      width: 300px;
    }
  }
}

.blog {
  .columns {
    >div {
      width: 50%;
      box-sizing: border-box;
      padding-right: 2rem;

      &:last-child {
        padding-right: 0;
      }

      h2 {
        margin-bottom: 0;
        font-size: 2rem;
        text-decoration: underline;
        color: $blue;
        transition: color 300ms ease-in-out;
      }
    }
  }

  a {
    text-decoration: none;

    &:hover h2{
      color: $lightBlue;
    }
  }
}
