@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (max-width:768px) {
  .header {
    margin-bottom: 2rem;
  }
  section {
    margin-bottom: 5rem;
  }
  h2 {
    padding: 0 2rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  h2,
  h3,
  h4,
  .credits{
    text-align: center;
  }
  form {
    label {
      width: 300px;
      margin: 1rem auto 0.1rem;
    }
    input,
    textarea {
      margin: 0 auto;
    }
  }
  .hero>a {
    height: auto;

    .slideshow {
      height: auto;
    }
  }
  .slideshow {
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.rectangle {
      min-height: 200px;
    }

    >.image,
    >.vid {
      width: 300px;
      height: auto;
    }

    >img,
    >div,
    >iframe {
      // top: auto;
    }
  }
  .project {
    margin-bottom: 4rem;
  }
  .columns:not(.social) {
    flex-direction: column;
    padding: 0 2rem;

    >* {
      &:not(.vid) {
        width: 100%;
      }
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    >.vid {
      width: 90%;
      margin: 0 auto;
    }
  }
  .social {
    justify-content: center;
  }
  .project:nth-child(odd) .columns {
    flex-direction: column;
  }
  .card-container .card {
    width: 20rem;
  }
  .blog .columns>div{
    padding-right: 0;

    h2 {
      font-size: 1.5rem;
    }
    >a:first-child {
      display: block;
      margin-bottom: 4rem;
    }
  }
}
@media only screen and (max-width:1024px) {
  .main>section,
  .footer {
    width: 100vw;
  }
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
